<tr class="selected" id="fila' + cont + '">
    <td>
        <button type="button" class="btn btn-danger btn-sm" onclick="eliminar(' + cont + ');"><i class="fa fa-times"></i></button>
    </td>
    <td>
        <input type="hidden" name="product_id[]" value="' + product_id + '">' +  producto + '
    </td>
    <td>
        <input type="hidden" id="price[]" name="price[]" value="' + price + '">
        <input class="form-control" type="number" id="price[]" name="price[]" value="' + price + '" disabled>
    </td>
    <td>
        <input tpye="hidden" name="quantity[]" value="' + quantity + '">
        <input class="form-control" type="number" value="' + quantity + '" disabled>
    </td>
    <td align="right">s/' + subtotal[cont] + '</td>
</tr>