/* Common CSS */

.form-control{
    height: 40px;
    line-height: 30px;
}

.goto-dashboard:hover {
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.unstyled-button {
    border: none;
    padding: 0;
    background: none;
  }

table.table td a.show {
    color: #00B916;
}

table.table td a.edit {
    color: #FFC107;
}

table.table td a.delete  {
    color: #F44336;
}

table.table td button.delete {
    color: #F44336;
}

table.table td a.pdf {
    color: #F44336;
}

table.table td a.print {
    color: #2250e7;
}